.bkcolor_AliceBlue{
	background-color:AliceBlue;

}
.bkcolor_AntiqueWhite{
	background-color:AntiqueWhite;

}
.bkcolor_Aqua{
	background-color:Aqua;

}
.bkcolor_Aquamarine{
	background-color:Aquamarine;

}
.bkcolor_Azure{
	background-color:Azure;

}
.bkcolor_Beige{
	background-color:Beige;

}
.bkcolor_Bisque{
	background-color:Bisque;

}
.bkcolor_Black{
	background-color:Black;

}
.bkcolor_BlanchedAlmond{
	background-color:BlanchedAlmond;

}
.bkcolor_Blue{
	background-color:Blue;

}
.bkcolor_BlueViolet{
	background-color:BlueViolet;

}
.bkcolor_Brown{
	background-color:Brown;

}
.bkcolor_BurlyWood{
	background-color:BurlyWood;

}
.bkcolor_CadetBlue{
	background-color:CadetBlue;

}
.bkcolor_Chartreuse{
	background-color:Chartreuse;

}
.bkcolor_Chocolate{
	background-color:Chocolate;

}
.bkcolor_Coral{
	background-color:Coral;

}
.bkcolor_CornflowerBlue{
	background-color:CornflowerBlue;

}
.bkcolor_Cornsilk{
	background-color:Cornsilk;

}
.bkcolor_Crimson{
	background-color:Crimson;

}
.bkcolor_Cyan{
	background-color:Cyan;

}
.bkcolor_DarkBlue{
	background-color:DarkBlue;

}
.bkcolor_DarkCyan{
	background-color:DarkCyan;

}
.bkcolor_DarkGoldenRod{
	background-color:DarkGoldenRod;

}
.bkcolor_DarkGray{
	background-color:DarkGray;

}
.bkcolor_DarkGreen{
	background-color:DarkGreen;

}
.bkcolor_DarkMagenta{
	background-color:DarkMagenta;

}
.bkcolor_DarkOliveGreen{
	background-color:DarkOliveGreen;

}
.bkcolor_Darkorange{
	background-color:Darkorange;

}
.bkcolor_DarkOrchid{
	background-color:DarkOrchid;

}
.bkcolor_DarkRed{
	background-color:DarkRed;

}
.bkcolor_DarkSalmon{
	background-color:DarkSalmon;

}
.bkcolor_DarkSeaGreen{
	background-color:DarkSeaGreen;

}
.bkcolor_DarkSlateBlue{
	background-color:DarkSlateBlue;

}
.bkcolor_DarkSlateGray{
	background-color:DarkSlateGray;

}
.bkcolor_DarkTurquoise{
	background-color:DarkTurquoise;

}
.bkcolor_DarkViolet{
	background-color:DarkViolet;

}
.bkcolor_DeepPink{
	background-color:DeepPink;

}
.bkcolor_DeepSkyBlue{
	background-color:DeepSkyBlue;

}
.bkcolor_DimGray{
	background-color:DimGray;

}
.bkcolor_DodgerBlue{
	background-color:DodgerBlue;

}
.bkcolor_FireBrick{
	background-color:FireBrick;

}
.bkcolor_FloralWhite{
	background-color:FloralWhite;

}
.bkcolor_ForestGreen{
	background-color:ForestGreen;

}
.bkcolor_Fuchsia{
	background-color:Fuchsia;

}
.bkcolor_Gainsboro{
	background-color:Gainsboro;

}
.bkcolor_GhostWhite{
	background-color:GhostWhite;

}
.bkcolor_Gold{
	background-color:Gold;

}
.bkcolor_GoldenRod{
	background-color:GoldenRod;

}
.bkcolor_Gray{
	background-color:Gray;

}
.bkcolor_Green{
	background-color:Green;

}
.bkcolor_GreenYellow{
	background-color:GreenYellow;

}
.bkcolor_HoneyDew{
	background-color:HoneyDew;

}
.bkcolor_HotPink{
	background-color:HotPink;

}
.bkcolor_IndianRed {
	background-color:IndianRed;

}
.bkcolor_Indigo  {
	background-color:Indigo;

}
.bkcolor_Ivory{
	background-color:Ivory;

}
.bkcolor_Khaki{
	background-color:Khaki;

}
.bkcolor_Lavender{
	background-color:Lavender;

}
.bkcolor_LavenderBlush{
	background-color:LavenderBlush;

}
.bkcolor_LawnGreen{
	background-color:LawnGreen;

}
.bkcolor_LemonChiffon{
	background-color:LemonChiffon;

}
.bkcolor_LightBlue{
	background-color:LightBlue;

}
.bkcolor_LightCoral{
	background-color:LightCoral;

}
.bkcolor_LightCyan{
	background-color:LightCyan;

}
.bkcolor_LightGoldenRodYellow{
	background-color:LightGoldenRodYellow;

}
.bkcolor_LightGrey{
	background-color:LightGrey;

}
.bkcolor_LightGreen{
	background-color:LightGreen;

}
.bkcolor_LightPink{
	background-color:LightPink;

}
.bkcolor_LightSalmon{
	background-color:LightSalmon;

}
.bkcolor_LightSeaGreen{
	background-color:LightSeaGreen;

}
.bkcolor_LightSkyBlue{
	background-color:LightSkyBlue;

}
.bkcolor_LightSlateGray{
	background-color:LightSlateGray;

}
.bkcolor_LightSteelBlue{
	background-color:LightSteelBlue;

}
.bkcolor_LightYellow{
	background-color:LightYellow;

}
.bkcolor_Lime{
	background-color:Lime;

}
.bkcolor_LimeGreen{
	background-color:LimeGreen;

}
.bkcolor_Linen{
	background-color:Linen;

}
.bkcolor_Magenta{
	background-color:Magenta;

}
.bkcolor_Maroon{
	background-color:Maroon;

}
.bkcolor_MediumAquaMarine{
	background-color:MediumAquaMarine;

}
.bkcolor_MediumBlue{
	background-color:MediumBlue;

}
.bkcolor_MediumOrchid{
	background-color:MediumOrchid;

}
.bkcolor_MediumPurple{
	background-color:MediumPurple;

}
.bkcolor_MediumSeaGreen{
	background-color:MediumSeaGreen;

}
.bkcolor_MediumSlateBlue{
	background-color:MediumSlateBlue;

}
.bkcolor_MediumSpringGreen{
	background-color:MediumSpringGreen;

}
.bkcolor_MediumTurquoise{
	background-color:MediumTurquoise;

}
.bkcolor_MediumVioletRed{
	background-color:MediumVioletRed;

}
.bkcolor_MidnightBlue{
	background-color:MidnightBlue;

}
.bkcolor_MintCream{
	background-color:MintCream;

}
.bkcolor_MistyRose{
	background-color:MistyRose;

}
.bkcolor_Moccasin{
	background-color:Moccasin;

}
.bkcolor_NavajoWhite{
	background-color:NavajoWhite;

}
.bkcolor_Navy{
	background-color:Navy;

}
.bkcolor_OldLace{
	background-color:OldLace;

}
.bkcolor_Olive{
	background-color:Olive;

}
.bkcolor_OliveDrab{
	background-color:OliveDrab;

}
.bkcolor_Orange{
	background-color:Orange;

}
.bkcolor_OrangeRed{
	background-color:OrangeRed;

}
.bkcolor_Orchid{
	background-color:Orchid;

}
.bkcolor_PaleGoldenRod{
	background-color:PaleGoldenRod;

}
.bkcolor_PaleGreen{
	background-color:PaleGreen;

}
.bkcolor_PaleTurquoise{
	background-color:PaleTurquoise;

}
.bkcolor_PaleVioletRed{
	background-color:PaleVioletRed;

}
.bkcolor_PapayaWhip{
	background-color:PapayaWhip;

}
.bkcolor_PeachPuff{
	background-color:PeachPuff;

}
.bkcolor_Peru{
	background-color:Peru;

}
.bkcolor_Pink{
	background-color:Pink;

}
.bkcolor_Plum{
	background-color:Plum;

}
.bkcolor_PowderBlue{
	background-color:PowderBlue;

}
.bkcolor_Purple{
	background-color:Purple;

}
.bkcolor_Red{
	background-color:Red;

}
.bkcolor_RosyBrown{
	background-color:RosyBrown;

}
.bkcolor_RoyalBlue{
	background-color:RoyalBlue;

}
.bkcolor_SaddleBrown{
	background-color:SaddleBrown;

}
.bkcolor_Salmon{
	background-color:Salmon;

}
.bkcolor_SandyBrown{
	background-color:SandyBrown;

}
.bkcolor_SeaGreen{
	background-color:SeaGreen;

}
.bkcolor_SeaShell{
	background-color:SeaShell;

}
.bkcolor_Sienna{
	background-color:Sienna;

}
.bkcolor_Silver{
	background-color:Silver;

}
.bkcolor_SkyBlue{
	background-color:SkyBlue;

}
.bkcolor_SlateBlue{
	background-color:SlateBlue;

}
.bkcolor_SlateGray{
	background-color:SlateGray;

}
.bkcolor_Snow{
	background-color:Snow;

}
.bkcolor_SpringGreen{
	background-color:SpringGreen;

}
.bkcolor_SteelBlue{
	background-color:SteelBlue;

}
.bkcolor_Tan{
	background-color:Tan;

}
.bkcolor_Teal{
	background-color:Teal;

}
.bkcolor_Thistle{
	background-color:Thistle;

}
.bkcolor_Tomato{
	background-color:Tomato;

}
.bkcolor_Turquoise{
	background-color:Turquoise;

}
.bkcolor_Violet{
	background-color:Violet;

}
.bkcolor_Wheat{
	background-color:Wheat;

}
.bkcolor_White{
	background-color:White;

}
.bkcolor_WhiteSmoke{
	background-color:WhiteSmoke;

}
.bkcolor_Yellow{
	background-color:Yellow;

}
.bkcolor_YellowGreen{
	background-color:YellowGreen;

}
.forecolor_AliceBlue{
	color:AliceBlue;
}
.forecolor_AntiqueWhite{
	color:AntiqueWhite;
}
.forecolor_Aqua{
	color:Aqua;
}
.forecolor_Aquamarine{
	color:Aquamarine;
}
.forecolor_Azure{
	color:Azure;
}
.forecolor_Beige{
	color:Beige;
}
.forecolor_Bisque{
	color:Bisque;
}
.forecolor_Black{
	color:Black;
}
.forecolor_BlanchedAlmond{
	color:BlanchedAlmond;
}
.forecolor_Blue{
	color:Blue;
}
.forecolor_BlueViolet{
	color:BlueViolet;
}
.forecolor_Brown{
	color:Brown;
}
.forecolor_BurlyWood{
	color:BurlyWood;
}
.forecolor_CadetBlue{
	color:CadetBlue;
}
.forecolor_Chartreuse{
	color:Chartreuse;
}
.forecolor_Chocolate{
	color:Chocolate;
}
.forecolor_Coral{
	color:Coral;
}
.forecolor_CornflowerBlue{
	color:CornflowerBlue;
}
.forecolor_Cornsilk{
	color:Cornsilk;
}
.forecolor_Crimson{
	color:Crimson;
}
.forecolor_Cyan{
	color:Cyan;
}
.forecolor_DarkBlue{
	color:DarkBlue;
}
.forecolor_DarkCyan{
	color:DarkCyan;
}
.forecolor_DarkGoldenRod{
	color:DarkGoldenRod;
}
.forecolor_DarkGray{
	color:DarkGray;
}
.forecolor_DarkGreen{
	color:DarkGreen;
}
.forecolor_DarkMagenta{
	color:DarkMagenta;
}
.forecolor_DarkOliveGreen{
	color:DarkOliveGreen;
}
.forecolor_Darkorange{
	color:Darkorange;
}
.forecolor_DarkOrchid{
	color:DarkOrchid;
}
.forecolor_DarkRed{
	color:DarkRed;
}
.forecolor_DarkSalmon{
	color:DarkSalmon;
}
.forecolor_DarkSeaGreen{
	color:DarkSeaGreen;
}
.forecolor_DarkSlateBlue{
	color:DarkSlateBlue;
}
.forecolor_DarkSlateGray{
	color:DarkSlateGray;
}
.forecolor_DarkTurquoise{
	color:DarkTurquoise;
}
.forecolor_DarkViolet{
	color:DarkViolet;
}
.forecolor_DeepPink{
	color:DeepPink;
}
.forecolor_DeepSkyBlue{
	color:DeepSkyBlue;
}
.forecolor_DimGray{
	color:DimGray;
}
.forecolor_DodgerBlue{
	color:DodgerBlue;
}
.forecolor_FireBrick{
	color:FireBrick;
}
.forecolor_FloralWhite{
	color:FloralWhite;
}
.forecolor_ForestGreen{
	color:ForestGreen;
}
.forecolor_Fuchsia{
	color:Fuchsia;
}
.forecolor_Gainsboro{
	color:Gainsboro;
}
.forecolor_GhostWhite{
	color:GhostWhite;
}
.forecolor_Gold{
	color:Gold;
}
.forecolor_GoldenRod{
	color:GoldenRod;
}
.forecolor_Gray{
	color:Gray;
}
.forecolor_Green{
	color:Green;
}
.forecolor_GreenYellow{
	color:GreenYellow;
}
.forecolor_HoneyDew{
	color:HoneyDew;
}
.forecolor_HotPink{
	color:HotPink;
}
.forecolor_IndianRed {
	color:IndianRed;
}
.forecolor_Indigo  {
	color:Indigo;
}
.forecolor_Ivory{
	color:Ivory;
}
.forecolor_Khaki{
	color:Khaki;
}
.forecolor_Lavender{
	color:Lavender;
}
.forecolor_LavenderBlush{
	color:LavenderBlush;
}
.forecolor_LawnGreen{
	color:LawnGreen;
}
.forecolor_LemonChiffon{
	color:LemonChiffon;
}
.forecolor_LightBlue{
	color:LightBlue;
}
.forecolor_LightCoral{
	color:LightCoral;
}
.forecolor_LightCyan{
	color:LightCyan;
}
.forecolor_LightGoldenRodYellow{
	color:LightGoldenRodYellow;
}
.forecolor_LightGrey{
	color:LightGrey;
}
.forecolor_LightGreen{
	color:LightGreen;
}
.forecolor_LightPink{
	color:LightPink;
}
.forecolor_LightSalmon{
	color:LightSalmon;
}
.forecolor_LightSeaGreen{
	color:LightSeaGreen;
}
.forecolor_LightSkyBlue{
	color:LightSkyBlue;
}
.forecolor_LightSlateGray{
	color:LightSlateGray;
}
.forecolor_LightSteelBlue{
	color:LightSteelBlue;
}
.forecolor_LightYellow{
	color:LightYellow;
}
.forecolor_Lime{
	color:Lime;
}
.forecolor_LimeGreen{
	color:LimeGreen;
}
.forecolor_Linen{
	color:Linen;
}
.forecolor_Magenta{
	color:Magenta;
}
.forecolor_Maroon{
	color:Maroon;
}
.forecolor_MediumAquaMarine{
	color:MediumAquaMarine;
}
.forecolor_MediumBlue{
	color:MediumBlue;
}
.forecolor_MediumOrchid{
	color:MediumOrchid;
}
.forecolor_MediumPurple{
	color:MediumPurple;
}
.forecolor_MediumSeaGreen{
	color:MediumSeaGreen;
}
.forecolor_MediumSlateBlue{
	color:MediumSlateBlue;
}
.forecolor_MediumSpringGreen{
	color:MediumSpringGreen;
}
.forecolor_MediumTurquoise{
	color:MediumTurquoise;
}
.forecolor_MediumVioletRed{
	color:MediumVioletRed;
}
.forecolor_MidnightBlue{
	color:MidnightBlue;
}
.forecolor_MintCream{
	color:MintCream;
}
.forecolor_MistyRose{
	color:MistyRose;
}
.forecolor_Moccasin{
	color:Moccasin;
}
.forecolor_NavajoWhite{
	color:NavajoWhite;
}
.forecolor_Navy{
	color:Navy;
}
.forecolor_OldLace{
	color:OldLace;
}
.forecolor_Olive{
	color:Olive;
}
.forecolor_OliveDrab{
	color:OliveDrab;
}
.forecolor_Orange{
	color:Orange;
}
.forecolor_OrangeRed{
	color:OrangeRed;
}
.forecolor_Orchid{
	color:Orchid;
}
.forecolor_PaleGoldenRod{
	color:PaleGoldenRod;
}
.forecolor_PaleGreen{
	color:PaleGreen;
}
.forecolor_PaleTurquoise{
	color:PaleTurquoise;
}
.forecolor_PaleVioletRed{
	color:PaleVioletRed;
}
.forecolor_PapayaWhip{
	color:PapayaWhip;
}
.forecolor_PeachPuff{
	color:PeachPuff;
}
.forecolor_Peru{
	color:Peru;
}
.forecolor_Pink{
	color:Pink;
}
.forecolor_Plum{
	color:Plum;
}
.forecolor_PowderBlue{
	color:PowderBlue;
}
.forecolor_Purple{
	color:Purple;
}
.forecolor_Red{
	color:Red;
}
.forecolor_RosyBrown{
	color:RosyBrown;
}
.forecolor_RoyalBlue{
	color:RoyalBlue;
}
.forecolor_SaddleBrown{
	color:SaddleBrown;
}
.forecolor_Salmon{
	color:Salmon;
}
.forecolor_SandyBrown{
	color:SandyBrown;
}
.forecolor_SeaGreen{
	color:SeaGreen;
}
.forecolor_SeaShell{
	color:SeaShell;
}
.forecolor_Sienna{
	color:Sienna;
}
.forecolor_Silver{
	color:Silver;
}
.forecolor_SkyBlue{
	color:SkyBlue;
}
.forecolor_SlateBlue{
	color:SlateBlue;
}
.forecolor_SlateGray{
	color:SlateGray;
}
.forecolor_Snow{
	color:Snow;
}
.forecolor_SpringGreen{
	color:SpringGreen;
}
.forecolor_SteelBlue{
	color:SteelBlue;
}
.forecolor_Tan{
	color:Tan;
}
.forecolor_Teal{
	color:Teal;
}
.forecolor_Thistle{
	color:Thistle;
}
.forecolor_Tomato{
	color:Tomato;
}
.forecolor_Turquoise{
	color:Turquoise;
}
.forecolor_Violet{
	color:Violet;
}
.forecolor_Wheat{
	color:Wheat;
}
.forecolor_White{
	color:White;
}
.forecolor_WhiteSmoke{
	color:WhiteSmoke;
}
.forecolor_Yellow{
	color:Yellow;
}
.forecolor_YellowGreen{
	color:YellowGreen;
}
