@import "MyTheme-defaults";
@import "MyTheme";
@import "colors";

.MyTheme {
  @include MyTheme;
}


@import "colors";

.padding3-cell{
    padding:3px;
}
.padding4-cell{
    padding:4px;
}
.padding5-cell{
    padding:5px;
}
.padding6-cell{
    padding:6px;
}
.padding7-cell{
    padding:7px;
}