<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="TestCuba" transaction-type="RESOURCE_LOCAL">

        <class>com.osl.testcuba.entity.Comune</class>
        <class>com.osl.testcuba.entity.Cliente</class>
        <class>com.osl.testcuba.entity.Prodotto</class>
        <class>com.osl.testcuba.entity.Magazzino</class>
        <class>com.osl.testcuba.entity.OrdineT</class>
        <class>com.osl.testcuba.entity.OrdineD</class>
        <class>com.osl.testcuba.entity.Fornitore</class>
        <class>com.osl.testcuba.entity.CategoriaGestionale</class>
        <class>com.osl.testcuba.entity.CategoriaTecnologica</class>
        <class>com.osl.testcuba.entity.UnitaMisura</class>
        <class>com.osl.testcuba.entity.PianoConto</class>
        <class>com.osl.testcuba.entity.ScriptTrigger</class>
        <class>com.osl.testcuba.entity.MovMag</class>
    </persistence-unit>
</persistence>
